version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    environment:
      - GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
    steps:
      - checkout
      - run: docker login --username vladaionescu --password "$DOCKERHUB_TOKEN"
      - run: "sudo /bin/sh -c 'curl -s https://api.github.com/repos/vladaionescu/earthly-releases/releases/latest | grep browser_download_url | grep linux-amd64 | cut -d : -f 2- | tr -d \" | wget -P /usr/local/bin/ -i - && mv /usr/local/bin/earth-linux-amd64 /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - run: earth --version
      - run: earth -P +test
