version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Docker Login
          command: "docker login registry-1.docker.io.mirror.corp.earthly.dev --username $DOCKERHUB_MIRROR_USERNAME --password $DOCKERHUB_MIRROR_TOKEN"
      - run:
          name: Install released earthly
          command: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - run:
          name: Build latest earthly
          command: earthly --use-inline-cache +for-linux
      - run:
          name: Bootstrap
          command: sudo ./build/linux/amd64/earthly bootstrap
      - run:
          name: Run tests
          command: |-
              ./build/linux/amd64/earthly --ci -P \
                --build-arg DOCKERHUB_AUTH=true \
                --build-arg DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub-mirror/user \
                --build-arg DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub-mirror/pass \
                --build-arg DOCKERHUB_MIRROR=registry-1.docker.io.mirror.corp.earthly.dev \
              ./tests+no-cache-local-artifact-test
      - run:
          name: Execute fail test
          command: "! ./build/linux/amd64/earthly --ci +test-fail"
workflows:
  version: 2
  circle-ci:
    jobs:
      - build
