version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      - GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
    steps:
      - checkout
      - run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - run: earth --version
      - run: earth +for-linux
      - run: ./build/linux/amd64/earth -P +test
