debug = ${BUILDKIT_DEBUG}
root = "${BUILDKIT_ROOT_DIR}"
insecure-entitlements = [ "security.insecure" ]

[grpc]
  address = [ "tcp://0.0.0.0:8372" ]

[grpc.tls]
  cert = "/etc/cert.pem"
  key = "/etc/key.pem"
  ca = "/etc/ca.pem"

[worker.oci]
  enabled = true
  snapshotter = "auto"
  gc = true
  networkMode = "${NETWORK_MODE}"
  cniBinaryPath = "/usr/libexec/cni"
  cniConfigPath = "/etc/cni/cni-conf.json"
  ${CACHE_SETTINGS}

${EARTHLY_ADDITIONAL_BUILDKIT_CONFIG}
