name: GitHub Actions CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: +test +test-fail
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earth using released earth
        run: earth +for-linux
      - name: Execute tests (not a fork)
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earth --no-output -P +test
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Execute tests (fork)
        run: ./build/linux/amd64/earth --no-output -P +test
        if: github.event.pull_request.head.repo.full_name != github.repository
      - name: Execute fail test
        run: "! ./build/linux/amd64/earth --no-output +test-fail"
      - name: Execute interactive debugger test
        run: ./build/linux/amd64/earth --interactive -P +test-interactive
      - name: Execute interactive debugger test (docker)
        run: ./build/linux/amd64/earth --interactive -P +test-interactive-docker
      - name: Execute version test
        run: "./build/linux/amd64/earth --version"
      - name: Execute docker2earth test
        run: "./examples/tests/docker2earth/test.sh"
  misc-tests:
    name: Misc tests
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earth using released earth
        run: earth +for-linux
      - name: "Experimental tests (not a fork)"
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earth -P ./examples/tests+experimental
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: "Experimental tests (fork)"
        run: ./build/linux/amd64/earth -P ./examples/tests+experimental
        if: github.event.pull_request.head.repo.full_name != github.repository
      - name: Execute test similar to homebrew test in https://github.com/Homebrew/homebrew-core/blob/master/Formula/earthly.rb
        run: ./build/linux/amd64/earth --buildkit-host 127.0.0.1 ./examples/tests/with-docker+all 2>&1 | grep 'Error while dialing invalid address 127.0.0.1'
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Execute private image test
        run: ./build/linux/amd64/earth --no-output ./examples/tests+private-image-test
        if: github.event.pull_request.head.repo.full_name == github.repository
  examples:
    name: +examples
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earth using released earth
        run: earth +for-linux
      - name: Build examples
        run: ./build/linux/amd64/earth --no-output --allow-privileged +examples
  secrets:
    name: secrets-integration
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earth using released earth
        run: earth +for-linux
      - name: run ssh-based tests
        run: env -u GIT_URL_INSTEAD_OF earth=./build/linux/amd64/earth .tests/private-repo.sh
  private-repo-test:
    services:
      sshd:
        image: rastasheep/ubuntu-sshd:18.04
        ports:
          - 22
    name: private repo test
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      SSH_PORT: ${{ job.services.sshd.ports[22] }}
    steps:
      - uses: actions/checkout@v2
      - name: install sshpass
        run: apt-get -yq sshpass
      - name: hostanem
        run: hostname
      - name: try to ssh to server
        run: sshpass -p "root" ssh -o StrictHostKeyChecking=no root@sshd -p $SSH_PORT hostname
  push:
    name: --push +all
    if: github.event_name == 'push'
    needs: ["tests", "misc-tests", "examples"]
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: "Put back the git branch into git (Earthly uses it for tagging)"
        run: |
          branch=""
          if [ -n "$GITHUB_HEAD_REF" ]; then
            branch="$GITHUB_HEAD_REF"
          else
            branch="${GITHUB_REF##*/}"
          fi
          git checkout -b "$branch" || true
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earth-linux-amd64 -O /usr/local/bin/earth && chmod +x /usr/local/bin/earth'"
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build latest earth using released earth
        run: earth +for-linux
      - name: Rebuild and push
        run: ./build/linux/amd64/earth --push +all
