name: GitHub Actions CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: +test +test-fail
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Execute tests (not a fork)
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earthly --ci -P +test
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Execute tests (fork)
        run: ./build/linux/amd64/earthly --ci -P +test
        if: github.event.pull_request.head.repo.full_name != github.repository
      - name: Execute fail test
        run: "! ./build/linux/amd64/earthly --ci +test-fail"
  misc-tests:
    name: Misc tests
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Execute interactive debugger test
        run: ./build/linux/amd64/earthly --ci --interactive -P +test-interactive
      - name: Execute interactive debugger test (docker)
        run: ./build/linux/amd64/earthly --ci --interactive -P +test-interactive-docker
      - name: Execute version test
        run: "./build/linux/amd64/earthly --version"
      - name: Execute docker2earth test
        run: "./examples/tests/docker2earth/test.sh"
      - name: Execute test similar to homebrew test in https://github.com/Homebrew/homebrew-core/blob/master/Formula/earthly.rb
        run: ./build/linux/amd64/earthly --buildkit-host 127.0.0.1 ./examples/tests/with-docker+all 2>&1 | grep 'Error while dialing invalid address 127.0.0.1'
      - name: Execute private image test
        run: ./build/linux/amd64/earthly --ci ./examples/tests+private-image-test
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: "Experimental tests (not a fork)"
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earthly --ci -P ./examples/tests+experimental
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: "Experimental tests (fork)"
        run: ./build/linux/amd64/earthly --ci -P ./examples/tests+experimental
        if: github.event.pull_request.head.repo.full_name != github.repository
  examples:
    name: +examples
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Build examples
        run: ./build/linux/amd64/earthly --no-output --allow-privileged +examples
  secrets:
    name: secrets-integration
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: run ssh-based tests
        run: env -u GIT_URL_INSTEAD_OF earthly=./build/linux/amd64/earthly scripts/tests/private-repo.sh
  private-repo-test:
    services:
      sshd:
        image: rastasheep/ubuntu-sshd:18.04
        ports:
          - 2222:22
    name: private repo test
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      SSH_PORT: "2222"
    steps:
      - uses: actions/checkout@v2
      - name: install sshpass
        run: sudo apt-get install -y sshpass
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: run ssh-based tests
        run: env -u GIT_URL_INSTEAD_OF earthly=./build/linux/amd64/earthly scripts/tests/self-hosted-private-repo.sh

  push:
    name: --push +all
    if: github.event_name == 'push'
    needs: ["tests", "misc-tests", "examples"]
    runs-on: ubuntu-latest
    env:
      GIT_URL_INSTEAD_OF: "https://github.com/=git@github.com:"
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
    steps:
      - uses: actions/checkout@v2
      - name: "Put back the git branch into git (Earthly uses it for tagging)"
        run: |
          branch=""
          if [ -n "$GITHUB_HEAD_REF" ]; then
            branch="$GITHUB_HEAD_REF"
          else
            branch="${GITHUB_REF##*/}"
          fi
          git checkout -b "$branch" || true
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/v0.4.0-rc0/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Rebuild and push
        run: ./build/linux/amd64/earthly --ci --push +all
