name: GitHub Actions CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: +test +test-fail
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Execute tests (not a fork)
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earthly --ci -P +test
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: Execute tests (fork)
        run: ./build/linux/amd64/earthly --ci -P +test
        if: github.event_name != 'push' && github.event.pull_request.head.repo.full_name != github.repository
      - name: Execute fail test
        run: "! ./build/linux/amd64/earthly --ci +test-fail"
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}

  misc-tests:
    name: Misc tests
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Execute interactive debugger test
        run: ./build/linux/amd64/earthly --ci --interactive -P ./examples/tests/interactive+all
      - name: Execute version test
        run: "./build/linux/amd64/earthly --version"
      - name: Execute docker2earth test
        run: "./examples/tests/docker2earth/test.sh"
      - name: Execute remote-cache test
        run: "./examples/tests/remote-cache/test.sh"
      - name: Execute test similar to homebrew test in https://github.com/Homebrew/homebrew-core/blob/master/Formula/earthly.rb
        run: ./build/linux/amd64/earthly --buildkit-host 127.0.0.1 ./examples/tests/with-docker+all 2>&1 | grep 'Error while dialing invalid address 127.0.0.1'
      - name: Execute private image test (non fork only)
        run: ./build/linux/amd64/earthly --ci ./examples/tests+private-image-test
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: "Experimental tests (not a fork)"
        run: |
          export EARTHLY_BUILD_ARGS="DOCKERHUB_USER_SECRET=+secrets/earthly-technologies/dockerhub/user,DOCKERHUB_TOKEN_SECRET=+secrets/earthly-technologies/dockerhub/token"
          ./build/linux/amd64/earthly --ci -P ./examples/tests+experimental
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: "Experimental tests (fork)"
        run: ./build/linux/amd64/earthly --ci -P ./examples/tests+experimental
        if: github.event_name != 'push' && github.event.pull_request.head.repo.full_name != github.repository
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}

  examples:
    name: +examples
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: actions/checkout@v2
      -
        name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Build examples (PR build)
        run: ./build/linux/amd64/earthly --ci -P +examples
        if: github.event_name != 'push'
      - name: Build examples (main build)
        run: ./build/linux/amd64/earthly --ci --push -P +examples
        if: github.event_name == 'push'
      - name: Build and test multi-platform example
        run: |
          ./build/linux/amd64/earthly ./examples/multiplatform+all
          docker run --it --rm earthly/examples:multiplatform_linux_arm64 | grep aarch64
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}

  secrets:
    name: secrets-integration
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: actions/checkout@v2
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login (non fork only)
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: run ssh-based tests
        run: env earthly=./build/linux/amd64/earthly scripts/tests/private-repo.sh
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}

  private-repo-test:
    services:
      sshd:
        image: rastasheep/ubuntu-sshd:18.04
        ports:
          - 2222:22
    name: private repo test
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
      SSH_PORT: "2222"
    steps:
      - uses: actions/checkout@v2
      - name: install sshpass
        run: sudo apt-get install -y sshpass
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: run ssh-based tests
        run: env earthly=./build/linux/amd64/earthly scripts/tests/self-hosted-private-repo.sh
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}

  push:
    name: --push +all
    if: github.event_name == 'push'
    needs: ["tests", "misc-tests", "examples"]
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: actions/checkout@v2
      - name: "Put back the git branch into git (Earthly uses it for tagging)"
        run: |
          branch=""
          if [ -n "$GITHUB_HEAD_REF" ]; then
            branch="$GITHUB_HEAD_REF"
          else
            branch="${GITHUB_REF##*/}"
          fi
          git checkout -b "$branch" || true
      - name: Download released earthly
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Docker Login
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build latest earthly using released earthly
        run: earthly --use-inline-cache +for-linux
      - name: Rebuild and push
        run: ./build/linux/amd64/earthly --ci --push +all
      - name: Buildkit logs (runs on failure)
        run: docker logs earthly-buildkitd
        if: ${{ failure() }}
