name: Runs test local

on:
  workflow_call:
    inputs:
      BUILT_EARTHLY_PATH:
        required: true
        type: string
      BUILD_EARTHLY_TARGET:
        required: true
        type: string
      BINARY:
        required: true
        type: string
      SUDO:
        type: string
        required: false
      RUNS_ON:
        required: true
        type: string


jobs:
  test-local:
    name: test-local ${{inputs.BINARY}}
    runs-on: ${{inputs.RUNS_ON}}
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
      DOCKERHUB_MIRROR_USERNAME: "${{ secrets.DOCKERHUB_MIRROR_USERNAME }}"
      DOCKERHUB_MIRROR_PASSWORD: "${{ secrets.DOCKERHUB_MIRROR_PASSWORD }}"
      # Used in our github action as the token - TODO: look to change it into an input
      GITHUB_TOKEN: ${{ secrets.GRISWOLDTHECAT_GITHUB_TOKEN }}
    steps:
      - uses: earthly/actions-setup@v1.0.1
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GRISWOLDTHECAT_GITHUB_TOKEN }}
      - name: remove docker
        run: ${{inputs.SUDO}} apt-get purge docker-engine docker docker.io docker-ce docker-ce-cli ; ${{inputs.SUDO}} rm -rf /usr/bin/docker
        if: inputs.binary == 'podman'
      - name: Install Podman (with apt-get)
        run: ${{inputs.SUDO}} apt-get update && ${{inputs.SUDO}} apt-get install -y podman
        if: inputs.binary == 'podman'
      - name: Podman debug info
        run: podman version && podman info && podman info --debug
        if: inputs.binary == 'podman'
      - name: Build latest earthly using released earthly
        run: ${{inputs.SUDO}} $(which earthly) -P --use-inline-cache ${{inputs.BUILD_EARTHLY_TARGET}}
      - name: Set EARTHLY_VERSION_FLAG_OVERRIDES env
        run: |-
            set -euo pipefail
            EARTHLY_VERSION_FLAG_OVERRIDES="$(tr -d '\n' < .earthly_version_flag_overrides)"
            echo "EARTHLY_VERSION_FLAG_OVERRIDES=$EARTHLY_VERSION_FLAG_OVERRIDES" >> "$GITHUB_ENV"
      - name: Enable local registry-based exporter
        run: ${{inputs.SUDO}} ${{inputs.BUILT_EARTHLY_PATH}} config global.local_registry_host 'tcp://127.0.0.1:8371'
      - name: Configure Earthly Conversion Parallelism
        run: ${{inputs.SUDO}} ${{inputs.BUILT_EARTHLY_PATH}} config global.conversion_parallelism 5
      - name: Execute test-local
        run: "${{inputs.SUDO}} ${{inputs.BUILT_EARTHLY_PATH}} --use-inline-cache --save-inline-cache --no-output ./tests/local+test-local"
      - name: Execute test-local --push
        run: "${{inputs.SUDO}} ${{inputs.BUILT_EARTHLY_PATH}} --use-inline-cache --save-inline-cache --no-output --push ./tests/local+test-local"
      - name: Run general local tests (TODO this is re-testing the +test-local target)
        run: "${{inputs.SUDO}} ${{inputs.BUILT_EARTHLY_PATH}} --use-inline-cache --save-inline-cache --no-output ./tests/local+all"
      - name: Buildkit logs (runs on failure)
        run: ${{inputs.SUDO}} ${{inputs.BINARY}} logs earthly-buildkitd 2>&1
        if: ${{ failure() }}
